<!--The content below is only a placeholder and can be replaced.-->
<div [ngClass]="'mdl-layout__container'">
  <div [ngClass]="'mdl-layout mdl-js-layout'">
    <div [ngClass]="'mdl-layout__header'">
      <nav [ngClass]="'mdl-navigation'">
        <a routerLink="/" [ngClass]="'mdl-navigation__link mdl-typography--text-uppercase'">Home</a>
        <a routerLink="/user" [ngClass]="'mdl-navigation__link mdl-typography--text-uppercase'">User</a>
        <a routerLink="/about" [ngClass]="'mdl-navigation__link mdl-typography--text-uppercase'">About</a>
        <a routerLink="/search" [ngClass]="'mdl-navigation__link mdl-typography--text-uppercase'">Search</a>
      </nav>
    </div>
    <hr/>
    <router-outlet></router-outlet>
  </div>
</div>


